@import '../../styles/settings.module.scss';

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 40px;
  padding-right: 40px;
  background: $primary-color;
}

.nav-end-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  @media (min-width: 640px) {
    gap: 1rem;
  }
  @media (min-width: 768px) {
    gap: 3rem;
  }
  @media (min-width: 1280px) {
    gap: 5rem;
  }
}

.nav-end-container-whishlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: #FFF
}
