@import '../../styles/settings.module.scss';

.item-card {
  position: relative;
  width: 220px;
  height: 350px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: sans-serif;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1px 0;

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 4px;
    }

    .heart-icon {
      all: unset;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 26px;
      height: 26px;
      padding: 1.5px;
      border-radius: 50%;
      background-color: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;

      &.active {
        background-color: red;
      }
    }
  }

  h2 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 42px;
    line-height: 1.3;
  }

  .stars {
    margin: 4px 0;
    display: flex;
    gap: 0 4px;
    align-items: center;
  }

  .prices {
    display: flex;
    flex-direction: column;
    gap: 10px 0;

    .old-price {
      font-size: 14px;
      color: #999;
      text-decoration: line-through;
    }

    .current-price {
      font-size: 16px;
      color: $primary-color;
      font-weight: bold;
    }
  }
}
