.items-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  width: 100%;
  justify-items: center;
  box-sizing: border-box;
}
