.items-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: 500px) {
    justify-items: center;
  }

  @media (min-width: 501px) {
    justify-items: start;
  }
}
