.navigation{
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 55px;
}
.navigation h1{
    font-size: 12px;
}
.navigation hr {
    border: none;
    border-top: 1.5px solid #000;
    margin: 16px 0;
}