@import '../../styles/settings.module.scss';

.navigation{
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 55px;
}
.navigation h1{
    font-size: 12px;
    font-weight: 400;
    color: $primary-color;
}

.navigation h1 span{
    font-size: 12px;
    font-weight: 700;
    color: $primary-color;
}

.navigation hr {
    border: none;
    border-top: 1.5px solid #000;
    margin: 16px 0;
}